{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
  <center>
    <h1>Add a Place</h1>
  </center>  
  {% endif %}
  <form  action="" method="post">
    {% csrf_token %}
    <table class="input-field" id="addplace" style="font-size: 50px">
      {{ form.as_table }}
    </table>
    <br><br>
    <button class="btn btn-large waves-effect waves-light #0097A7 cyan darken-2" type="submit" name="action">Add
        <i class="material-icons right">send</i>
    </button>
  </form>
{% endblock %}