{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Into the Unknown</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="backgroundimage" style="font-family: 'Shadows Into Light', cursive;">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #006064 cyan darken-4">
                <ul>
                    <li><a style="font-size: 50px; color: white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="brand-logo right">&nbsp;&nbsp;Into the Unknown<i style="font-size: 60px; color: white" class="material-icons">flight_takeoff</i></a></li>
                </ul>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a style="font-size: 30px; color: white" href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                      <li><a style="font-size: 30px; color: white" href="{% url 'places_create' %}">Add a Place</a></li>
                      <li><a style="font-size: 30px; color: white" href="{% url 'index' %}">View All My Places</a></li>
                      <li><a style="font-size: 30px; color: white" href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                      <li><a style="font-size: 30px; color: white" href="{% url 'signup' %}">Sign Up</a></li>
                      <li><a style="font-size: 30px; color: white" href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
<script>
const ravesound = new Audio('/static/css/audio/rave.mp3');
var originalHtml = document.body;
var rave_is_on = 0;
function rave() {
        var elements = document.getElementsByTagName('*');
        rave_is_on = 1;
        for (var i = elements.length - 1; i >= 0; i--) { 
          var r = Math.floor(Math.random()*256);
          var g = Math.floor(Math.random()*256);
          var b = Math.floor(Math.random()*256); 
          elements[i].style.color = '#'+r.toString(16)+g.toString(16)+b.toString(16);
          var r = Math.floor(Math.random()*256);
          var g = Math.floor(Math.random()*256);
          var b = Math.floor(Math.random()*256);
          elements[i].style.backgroundColor = '#'+r.toString(16)+g.toString(16)+b.toString(16);
        };
        setTimeout(rave, 100);
        };
     function raveToggle() {
             if (rave_is_on == 0 ){
                     console.log('rave is on')
                     setTimeout(function(){ravesound.play();},100);
                     rave_is_on = 1;
                     rave();
                     rave();
             } else {
                        rave_is_on = 0;
                        document.location.reload(true);
                        setTimeout(function(){ravesound.pause();},100);
                }
        }
        var csslink, jslink;
        csslink = document.getElementById("csslink");
        jslink = document.getElementById("jslink");
        canvaslink = document.getElementById("particleCanvas");
        function swapMode(){
                function loadScript(src){
                        var el = document.createElement("script");
                        el.src = src;
                        document.body.appendChild(el);
                    }
                setTimeout(function(){colorsound.play();},100);
                canvaslink.setAttribute("id", "c");
                csslink.setAttribute("href", "/stylesheets/stylecolor.css"); 
                jslink.setAttribute("src", "/javascripts/scriptscolor.js"); 
                loadScript('/javascripts/scriptscolor.js');
        }
</script>
  	<footer class="page-footer #006064 cyan darken-4">
       <a onclick="raveToggle()" class="waves-effect waves-light btn btn-large left #ff3d00 deep-orange accent-3"><i class="material-icons left">error</i>Self-Destruct Sequence - Do Not Press</a> 
       <div style="font-size: 30px; color: white" class="right">All Rights Reserved, &copy; 2020 Into the Unknown &nbsp;</div>
    </footer>
</body>
</html>