.backgroundimage{
  background-image: url("../css/backgrounds/old-1130743_1920.jpg");
  background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

#commentform {
    color: black;
    background-color: rgba(255,255,255,0.7);
  }

.input-field label {
  color: black;
  font-size: 2rem;
}

#addplace{
  background-color: rgba(255,255,255,0.7);
}

#loginform{
  background-color: rgba(255,255,255,0.7);
}