{% extends 'base.html' %}
{% block content %}

<center>
<h1>Destination Details</h1>
</center>

<div class="row">
  <div class="col s6">
    <div class="card #eeeeee grey lighten-3">
      <div class="card-content">
            <span class="card-title">{{ place.name }}</span>
            <p>Country: {{ place.country }}</p>
            <p>State/Province: {{ place.state }}</p>
            <p>City: {{ place.city }}</p>
            <p>Description: {{ place.description}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'places_update' place.id %}">Edit</a>
        <a class="right" href="{% url 'places_delete' place.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form style="font-size: 20px" action="{% url 'add_review' place.id %}" method="post">
      {% csrf_token %}
      {{ review_form.as_p }}
      <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Add Comment
        <i class="material-icons left">comment</i>
      </button>  
    </form>
    <table class="highlight">
      <thead>
        <tr style="font-size: 30px">
        <th><center>Date:</center><hr></th>
        <th><center>Details:</center><hr></th>
        <th><center>Rating:</center><hr></th>
        </tr>
      </thead>
      <tbody>
        {% for review in place.review_set.all %}
          <tr style="font-size: 20px">
            <td>{{review.date}}</td>
            <td>{{review.details}}</td>
            <td>{{review.rating}}</td>
            <td><a style="font-family: 'Shadows Into Light', cursive; font-size: 30px" class="btn-floating btn-large waves-effect waves-light #00b0ff light-blue accent-3" href="{% url 'delete_review' place.id review.id %}">X</a></td>
        {% endfor %}

      </tbody>   
    </table>   
  </div>

<script>
var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

var selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>  
     

{% endblock %}